* {
     margin: 0px;
     padding: 0px;
}

h1 {
     color: #0d1b2a;
     padding-top: 2%;
     font-size: 8vmin;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-decoration-line: underline;
     text-decoration-style:unset;
     text-decoration-color: #0d1b2a;
     text-decoration-thickness: 5px;
 }
body {
     background-color: #778da9;
     text-align: center;
}

.container {
     height: 70vh;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.game {
     height: 60vmin ;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1.5vmin;
}

.box {
     height: 18vmin;
     width: 18vmin;
     border-radius: 2.25vmin;
     border: none;
     background-color: #fff;
     box-shadow: 0 0 1rem rgba(13, 27, 42, 3.3);
     font-size: 8vmin;
     color: #0d1b2a;
}

#reset-btn {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding: 1rem;
     font-size: 1.25rem;
     background-color: #0d1b2a;
     color: #b8cbe1;
     border: none;
     border-radius: 2.25vmin;
}

#new-game {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding: 1rem;
     font-size: 1.25rem;
     background-color: #0d1b2a;
     color: #fff;
     border: none;
     border-radius: 2.25vmin;
}

#msg {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 6vmin;
}

.msg-container {
     height: 100vmin; 
     display: flex;
     justify-content: center; 
     align-items: center; 
     flex-direction: column;
     gap: 4rem;
} 

.hide {
     display: none;
}